astroid==1.5.3
autopep8==1.4.4
bleach==2.1.3
certifi==2017.11.5
chardet==3.0.4
check-manifest==0.35
cmudict==0.4.3
dj-database-url==0.5.0
Django==2.2.7
django-heroku==0.3.1
djangorestframework==3.10.3
docutils==0.14
dragonmapper==0.2.6
editdistance==0.5.3
epitran==1.4
flake8==3.5.0
gunicorn==20.0.0
hanzidentifier==1.0.2
html5lib==1.0b10
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
marisa-trie==0.7.5
mccabe==0.6.1
munkres==1.1.2
nose==1.3.7
numpy==1.22.0
panphon==0.16
pkginfo==1.4.1
pluggy==0.5.2
pronouncing==0.2.0
psycopg2==2.8.4
py==1.4.34
pycodestyle==2.5.0
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.7.4
pytest==3.2.3
pytz==2019.3
PyYAML==5.1.2
readme-renderer==17.2
regex==2019.11.1
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
sqlparse==0.3.0
tox==2.9.1
tqdm==4.19.4
twine==1.9.1
typed-ast==1.4.0
unicodecsv==0.14.1
urllib3==1.24.2
virtualenv==15.1.0
webencodings==0.5.1
whitenoise==4.1.4
wrapt==1.10.11
zhon==1.1.5
